@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
  --dark-blue: #0a3871;
  --light-blue: #f3f5fc;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.body{
    font-family: 'Inter', sans-serif;
    background-color: var(--light-blue);
    margin: 30px;
    color: var(--dark-blue);
    
}
.body .main .logo img{
    margin: 30px;
}
.body .main .messageBox{
    width: 25%;
    height: 580px;
    background-color: white;
    border-radius:  30px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.body .main .messageBox .messageDesencriptar{
    display: flex;    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: rgb(78, 77, 77);
    font-weight: 900;
    margin: 10px;
    
}
.body .main .messageBox .messageDesencriptar p{
  font-size: 14px;
  margin-top: 10px;
  color: grey;
}
.body .main .messageBox .messageDesencriptar img{
    width: 80%;
    
}
.body .main .message{
    width: 75%;
    height: 560px;
}
.body .main .messages{
    display: flex;
    flex-direction:row;
    align-content: center;
    max-width: 1200px;
    margin: 10px 10px 10px 50px;
   
}
.body .main .messages .message .message-text{
    font-size: 2rem;
    margin: 100px 0px 0px 150px;
    background-color: var(--light-blue);
    border:none;
    outline: none;
    color: var(--dark-blue)

}
.body .main .messages .message .boxBotones{
    margin: 0 0 0 150px;
}
.body .main .messages .message .boxBotones p{
    color: rgb(95, 95, 95);
    font-size: 11px;
}
.body .main .messages .message .boxBotones .message-button{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: solid 1px var(--dark-blue);
    cursor: pointer;
    margin-top: 15px;
}
.oscuro{
    background-color: var(--dark-blue);
    color: white;
    margin-right: 15px;
}
.claro{
    background-color: rgb(221, 221, 221);
    color: var(--dark-blue);
}